Django==6.0.3
gunicorn==25.3.0
whitenoise==6.12.0
python-dotenv==1.2.2
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3
PyMySQL==1.1.2
mysql-connector-python==9.6.0
openai==2.31.0
pydantic==2.13.0
numpy==2.3.4
requests==2.33.1
